.table-search {
  input {
    height: 31px;
    display: block;
    margin-left: 40px;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 5px;
    border: 0.4px solid #82567A;
  }

  input:focus {
    background: white;
    color: gray;
  }

  svg {
    color: gray;
  }
}
