.table-search {
  input {
    display: block;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 5px;
    min-width: 260px;
  }

  .icon-search {
    position: absolute;
    top: 7px;
    left: 9px;
  }

  input:focus {
    background: white;
    color: gray;
  }

  svg {
    color: gray;
  }
}
