* {
  font-family: 'Lato';
}

.finance-table {
  .table-search {
    input {
      border: solid 1px #82567A;
    }
  }
}

.page-header {
  line-height: 19.2px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.page-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: 2%;
}

.page-tools {
  margin-right: 110px;
}

.tool-btn {
  margin-left: 10px;
  border: 1px solid #82567A;
  border-radius: 5px;
  padding: 8px 28px;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.4px;
  background-color: white;
  color: #82567A;
  cursor: pointer;
}

.tool-btn:hover {
  background-color: #82567A;
  color: white;
}

.page-section {
  width: 100%;
  padding: 15px 100px 30px 100px;
  display: flex;
  justify-content: space-between;
}

.chart-container-1 {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  height: 650px;
}

.chart-container-1-title {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
  color: #000000;
}

.chart-container-2 {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 45%;
  height: 340px;
}

.table-container {
  margin: 15px 100px 30px 100px;
  padding: 30px 35px 20px;
  background-color: white;
}


.search-box {
  width: 316px;
  height: 30px;
  border: 1px solid #82567A;
  border-radius: 5px;
  background-color: #d9d9d966;
}

.finance-table-select {
  border: 1px solid #82567A;
  border-radius: 5px;
  padding: 3px 10px;
  min-width: 120px;
  margin-right: 10px;
}

.finance-add {
  border: 1px solid #82567A;
  border-radius: 5px;
  padding: 3px 10px;
  min-width: 120px;
  background-color: #82567A;
  color: white;
}

.big-font {
  font-size: 14px;
  color: #18020C;
}

.small-font {
  font-size: 13px;
  color: #18020C4c;
}

.cancel-modal {
  width: 20px;
  height: 20px;
  padding: 0 7px;
  font-size: 13px;
  background-color: #F24E1E;
  color: white;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

.expense-type {
  width: 454px;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #8B5E83;
  border-radius: 10px;
  margin-bottom: 16px;
}

.expense-action {
  width: 454px;
  height: 50px;
  margin: auto;
  display: block;
  padding: 10px 20px;
  border: 1px solid #8B5E83;
  background-color: #8B5E83;
  color: white;
  border-radius: 10px;
}

.modal-transactions {
  width: 80%;
  background: transparent;
  
  .finance-table {
    padding: 35px 35px 40px 50px;
    background-color: white;
    border-radius: 20px;
  }
}
