.supplier-table {
  font-size: 13px;

  th {
    color: #82567A;
    padding: 10px 0;
  }

  img {
    height: 42px;
  }

  td {
    padding: 10px 0;
  }

  .color1 {
    color: #82567A;
  }

  .status1 {
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    width: 80px;
    background-color: #1ba58c;
    color: #004d3e;
  }

  .status2 {
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    width: 80px;
    background-color: #ECBD44;
    color: white;
  }

  .status3 {
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    width: 80px;
    background-color: #FD3838;
    color: white;
  }

  .fa-icon {
    color: #F24E1E;
  }

}