
.project-container {
  margin-left: 5px;
  margin-top: 22px;
  background: white;
  box-shadow: 0px 32px 40px rgba(10, 10, 31, 0.04);
  border-radius: 10px;
  padding: 15px 20px;

  .container-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #0A0A1F;
  }

  .btn-add-project {
    background: #F56B3F;
    border-radius: 5px;
    margin-right: 75px;
    font-size: 13px;
    color: white;
  }

  .items {
    padding: 25px 10px 0;

    .project-item {
      background: #FFFFFF;
      width: 216px;
      box-shadow: 0px 21.1111px 33.7778px rgba(0, 0, 0, 0.03);
      border-radius: 16.8889px;
      padding: 15px;
      margin-bottom: 40px;
      margin-left: 15px;
      margin-right: 15px;

      .btn-edit {
        height: 17px;
        width: 34px;
        border: 0.3px solid #0B8A73;
        border-radius: 5px;
        font-weight: 400;
        font-size: 11px;
        color: #0B8A73;
      }

      .label-check {
        color: #82567A;
        font-size: 11px;
        line-height: 17px;
        margin-right: 5px;
      }

      .users-container {
        margin-bottom: 28px;

        .avatar {
          height: 40px;
          width: 40px;
          box-shadow: 0px 20px 24px rgba(70, 6, 81, 0.08);
          border-radius: 50%;
          background: #E3E6E8;
          margin-right: 8px;
        }
        .avatar:first-child {
          margin-left: auto;
        }
        .avatar:last-child {
          margin-right: auto;
        }
      }

      .progress {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 20px;

        .title {
          font-weight: 600;
          font-size: 13px;
          margin-left: 10px;
          color: #000000;
        }

        .progress-container {
          height: 3px;
          margin-top: 3px;
          background: #D9D9D9;

          .progress-fill {
            background: #1A8B70;
            border-radius: 0px 50px 50px 0px;
          }
        }
      }

      .cal-icon {
        height: 17px;
        width: 17px;
      }

      .label-date {
        font-size: 11px;
        line-height: 12px;
      }
    }
  }
}

.project-schedule {
  width: 380px;

  .label-date {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }

  .schedule-items {
    overflow-y: auto;

    .schedule-item {
      margin-bottom: 40px;

      .schedule-title {
        font-size: 18px;
        font-weight: 500;
      }

      .schedule-duration {
        font-size: 18px;
        font-weight: 300;
      }
    }

    .schedule-item:last-child {
      margin-bottom: 10px;
    }
  }
}

.modal-project {
  padding: 45px 65px 60px 100px;
  border-radius: 20px;
  background: white;

  .modal-title {
    color: #86597E;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .member-avatar {
    width: 70px;
    height: 70px; 
    border-radius: 50%;
    margin-right: 9px;
  }

  .member-avatar:last-child {
    margin-right: 0;
  }

  .label-members {
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: #F56B3F;
  }

  select {
    border: solid 0.5px #8B5E83;
    height: 35px;
    border-radius: 10px;
  }

  .sel-project-title {
    padding: 2px 15px;
    border: solid 0.5px #8B5E83;
    height: 35px;
    border-radius: 10px;
    width: 454px;
  }

  textarea {
    padding: 30px 55px;
    box-shadow: 0px 20px 24px rgba(70, 6, 81, 0.08);
    border: solid 1px #82567A;
    height: 261px;
    border-radius: 20px;
  }

  .sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #0A0A1F;
  }

  .task-item {
    margin-bottom: 10px;

    label {
      font-weight: 400;
      font-size: 13px;
      line-height: 12px;
      letter-spacing: 0.01em;
      color: #ADADAD;
    }

    input.input-task{
      width: 351px;
      border: solid 0.5px #8B5E83;
      border-radius: 5px;

      padding: 12px 11px;

      font-weight: 400;
      font-size: 13px;
      line-height: 12px;
      letter-spacing: 0.01em;
    }

    button.delete {
      width: 100px;
      height: 42px;
      font-weight: 400;
      font-size: 13px;
      line-height: 12px;
      letter-spacing: 0.01em;
      background-color: #ADADAD;
      color: #000000;
      margin-left: auto;
    }


    .input-with-icon {
      margin-left: auto;
      height: 45px; 
      border: 1px solid #8B5E83;
      fieldset{
        border: none;
        margin-left: -5px;
        width: 351px;
      }

      input{
        width: 280px;

        padding: 10px;
      }

    }
  }

  .task-item:last-child {
    margin-bottom: 0;
  }

  .btn-add-task {
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: #82567A;
  }

  .sel-member {
    width: 224px;
  }
}

.modal-task {
  background: linear-gradient(180deg, #8B5E83 20.45%, #82567A 100%, #82567A 100%);
  box-shadow: 0px 20px 24px rgba(70, 6, 81, 0.2);
  border-radius: 20px;
  padding: 35px 20px 20px;
  width: 358px;
  color: white;

  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.02em;
  }

  input,
  textarea {
    font-size: 13px;
    color: gray;
    border-radius: 5px;
  }

  button {
    background: #F56B3F;
    border: 0.5px solid #8B5E83;
    box-shadow: 0px 20px 24px rgba(70, 6, 81, 0.08);
    border-radius: 5px;
  }

  button.cancel {
    background: white;
    border: 0.5px solid #8B5E83;
    box-shadow: 0px 20px 24px rgba(70, 6, 81, 0.08);
    border-radius: 5px;
    color: #F56B3F;
  }

  button.cancel:hover {
    background: #F56B3F;
    color: white;
  }
}

.modal-project-detail {
  width: 786px;

  .schedule {
    color: #767676;
    margin-bottom: 25px;

    label {
      font-weight: 600;
      font-size: 11px;
      line-height: 12px;
    }

    img {
      height: 10px;
      width: 10px;
    }
  }

  .member-avatar {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-right: 9px;
  }

  .member-avatar:last-child {
    margin-right: auto;
  }

  .member-avatar:first-child {
    margin-left: auto;
  }

  .description-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 20px 24px rgba(70, 6, 81, 0.08);
    border-radius: 20px;

    .description {
      color: #CBCBCB;
    }

    .btn-edit {
      background: linear-gradient(180deg, #8B5E83 20.45%, #82567A 100%, #82567A 100%);
      border-radius: 5px;
    }
  }

  .progress-wrapper {
    margin-left: -32px;
    margin-right: -32px;
    height: 12px;
    background: #D9D9D9;

    .progress {
      background: #1A8B70;
      border-radius: 0px 50px 50px 0px;
      height: 12px;
    }
  }

  .sub-title {
    color: #6D6B6B;
  }

  .task-item {
    margin-bottom: 15px;

    .input-task {
      width: 351px;
      height: 35px;
      font-size: 13px;
      border: 0.5px solid #8B5E83;
      border-radius: 5px;
    }

    .check-label {
      color: #82567A;
      font-size: 11px;
      line-height: 17px;
      margin-right: 5px;
    }
    .btn-finish-task {
      background: rgba(11, 138, 115, 0.2);
      border-radius: 5px;
      height: 17px;
      font-size: 11px;
      color: #0B8A73;
    }
  }

  .task-item:last-child {
    margin-bottom: 0;
  }

  .button-edit {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    background-color: #82567A;
    color: white;
  }

  .btn-show-all {
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    color: #82567A;
  }

  .btn-up {
    color: #82567A;
    opacity: 0.6;
  }
}

.task-list-container {
  border: 0.510516px solid rgba(24, 2, 12, 0.05);
  border-radius: 8px;

  .task-item {
    background: #85587D;
    margin-bottom: 10px;
    color: white;

    .btn-edit {
      font-size: 11px;
      border: solid 1px white;
      border-radius: 5px;
      height: 17px;
    }
  }

  .task-item:last-child {
    margin-bottom: 0;
  }
}