.filter {
  color: #82567A;
  border: 0.2px solid #82567A;
  border-radius: 5px;

  .Dropdown-control {
    height: 24px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 5px;

    .Dropdown-placeholder {
      line-height: 24px;
      padding-right: 4px;
    }

    .Dropdown-arrow {
      top: 9px;
    }
  }
}

.inventory-table {
  font-size: 13px;

  th {
    color: #82567A;
  }

  img {
    height: 42px;
  }
}

.category-item {
  margin-bottom: 10px;

  .btn-delete {
    color: #82567A;

    svg {
      color: #F24E1E;
    }
  }
}

.category-item:last-child {
  margin-bottom: 0;
}