.supplier-table {
  font-size: 13px;

  th {
    color: #82567A;
    padding: 10px 0;
  }

  img {
    height: 42px;
  }

  td {
    padding: 10px 0;
  }

  .coupon-state {
    background-color: #1ba58c;
    color: #004d3e;
  }

  .check {
    width: 20px;
    height: 20px;
  }
}