.modal {
  width: 100%;
  .inventory-modal {
    width: 548px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 35px 40px 50px;
    background-color: white;
    border-radius: 20px;

    .inventory-modal-title {
      margin-top: 20px;
      margin-bottom: 50px;

      .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }
    }

    .modal-item {
      margin-bottom: 30px;

      .item {
        width: 450px;
        border: 1px solid #82567A;
        border-radius: 10px;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 400;
      }

      .danger {
        border-color: #F24E1E;
        color: #FD3838;
      }
    }

    .button {
      width: 450px;
      border: 1px solid #82567A;
      border-radius: 10px;
      padding: 12px 15px;
      font-size: 16px;
      font-weight: 400;

      background-color: #82567A;
      color: white;
    }
  }

  .action-buttons {
    width: 80%;
    position: absolute;
    top: 20px;
    right: 10%;

    .tool-btn {
      float: right;
    }
  }
  .finance-modal {
    width: 80%;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 35px 40px 50px;
    background-color: white;
    border-radius: 20px;
  }
}