.warehouse-container {
  margin-left: 25px;
  margin-top: 22px;
  border-radius: 10px;

  .search-container {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #0A0A1F;
  }

  .input-search-warehouse {
    background: rgba(217, 217, 217, 0.4);
    border-radius: 5px;
    width: 318px;
  }

  .btn-add-warehouse {
    background: #82567A;
    border-radius: 5px;
    margin-right: 75px;
    font-size: 13px;
    color: white;
  }

  .items {
    padding: 10px 5px;

    .warehouse-item {
      padding: 15px;

      .name-container {
        width: 36%;
        display: flex;

        .avatar {
          width: 80px;
          height: 80px;
        }

        .name {
          display: block;
          color: #18020C;
          font-weight: bold;
        }

        .email {
          color: #18020C;
          font-size: 13px;
        }

      }

      .location-container {
        width: 48%;

        .location {
          color: #82567A;
          font-size: 11px;
        }
      }

      .action-container {
        width: 16%;
        text-align: center;


        button {
          color: #82567A;
          font-size: 13px;
        }
      }

      .title {
        color: #82567A;
        font-size: 14px;
      }

    }
  }
}