.elvis-calendar {

  .calendar-select {
    margin-left: 15px;
    border: 1px solid #C8CDD6;
    border-radius: 3px;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 700;
  }

  .calendar-select option {
    font-size: 14px;
    font-weight: 700;
  }

  .calendar-body {
    background: white;
    border-radius: 6px;
    text-align: center;
    color: #615E83;
    padding: 8px;

    .calendar-row {
      padding: 8px;

      .weekday,
      .calendar-day {
        padding: 8px;

        span {
          display: block;
          height: 30px;
          width: 34px;
          line-height: 28px;
        }

        span:not(.empty) {
          cursor: pointer;
        }
      }

      .calendar-day.today span {
        border: solid 1px #615E83;
      }

      .calendar-day.active span {
        color: white;
        background: #05182D;
      }

      .calendar-day.empty span {
        color: #C8CDD6;
      }
    }
  }
}