.supplier-table {
    font-size: 13px;

    th {
        color: #82567A;
        padding: 10px 0;
    }

    img {
        height: 42px;
    }

    td {
        padding: 10px 0;
    }

    .color1{
        color: #82567A;
    }

    .color2{
        color: #08BA73;
    }

    .coupon-state{
        background-color: #1ba58c;
        color: #004d3e;
    }

    .fa-icon{
        color: #F24E1E;
    }

    .check{
        width: 20px;
        height: 20px;
    }
}

.buttons {
    border-radius: 20px;
    padding: 80px 0px;
}
