@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: Lato, 'sans-serif';
}

.fixed-header {
  font-size: 13px;
  border-collapse: collapse;

  tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 700px;
  }

  thead {
    tr {
      display: block;
    }
  }

  th,
  td {
    padding: 5px !important;
    text-align: left;
    // width: 200px;
  }
}

// .Dropdown-control {
//   padding: 2px 20px 2px 5px !important;
//   font-size: 13px;
//   box-shadow: 0px 10px 24px rgba(70, 6, 81, 0.08);
//   border-radius: 5px;
//   border: 0.5px #82567A;
// }

.table-filter {
  .Dropdown-control {
    color: #82567A;
    padding: 0 20px 0 5px !important;
  }
}

.admin-primary-button {
  background: linear-gradient(180deg, #8B5E83 20.45%, #82567A 100%, #82567A 100%);
  box-shadow: 0px 20px 24px rgba(70, 6, 81, 0.08);
  border-radius: 6px;
  height: 35px;
  min-width: 121px;
  color: white;
  font-size: 14px;
}

.admin-secondary-button {
  border: 1px solid #8A5D82;
  filter: drop-shadow(0px 20px 24px rgba(70, 6, 81, 0.08));
  border-radius: 6px;
  height: 35px;
  min-width: 97px;
  color: #85597D;
  font-size: 14px;
}

.mr-400 {
  margin-right: 400px;
}

.w-400 {
  width: 400px;
}

select:focus-visible {
  outline: none;
}

input:focus-visible {
  outline: none;
}

textarea:focus-visible {
  outline: none;
}

.close-button {
  background: #F24E1E;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 13px;
  position: absolute;
  right: 20px;
  top: 20px;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 0.875rem;
}