body {
  background: #F2F2F2;
  font-family: Lato;
}

.admin-wrapper {
  margin-left: 300px;
}

.admin-header {
  width: calc(100vw - 357px);

  .sel-finance {
    height: 74px;
    width: 380px;
    margin-right: 100px;
    font-size: 25px;
    color: #ADADAD;
    font-weight: 400;
    border: none;
    padding-left: 20px;
    border-radius: 10px;
  }

  .header-bar {
    height: 74px;
    border-radius: 10px;

    label {
      line-height: 39px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      letter-spacing: 0.02rem;
    }

    .search-bar {
      margin-left: 100px;
      margin-right: 50px;

      input.header-search {
        font-size: 14px;
        padding: 0 16px 0 20px;
        outline: none !important;
      }
    }

    .btn-notification {
      height: 50px;
      width: 50px;
      background: #F5F4F8;
      border: 1.2px solid #F5F4F8;
      border-radius: 25px;

      .notification-alert {
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: absolute;
        top: 13px;
        right: 16px;
        background: radial-gradient(116.28% 116.28% at 0% -16.28%, #FD5F4A 4.69%, #F249A4 98.31%);
      }
    }
  }
}

.page-title {
  font-size: 16px;
  font-weight: 600;
  color: #0A0A1F;
}

.content-wrapper {
  // margin-top: 68px;
  overflow: auto;
  padding-top: 30px;
}

.sidebar {
  width: 300px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  padding-top: 3px;
  padding-left: 16px;
  padding-right: 16px;
  float: left;

  .user-info {
    border-radius: 6px;
    border-image: linear-gradient(#EAEBFF 0%, #895C81 19%);
    padding: 18px 20px;
    margin-bottom: 20px;
  }

  .user-info img.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 48px;
  }

  .user-info label.user-name {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02rem;
    color: #0A0A1F;
    margin-left: 14px;
  }

  .main-button {
    background: linear-gradient(180deg, #8B5E83 20.45%, #82567A 100%, #82567A 100%);
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    display: block;
    width: 100%;
    margin-bottom: 14px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01rem;
  }

  .main-button.active {
    background: #F56B3F;
  }

  .second-buttons {
    bottom: 100px;

    .second-button {
      font-size: 14px;
      border-radius: 6px;
      margin-bottom: 10px;

      svg {
        font-size: 16px;
        display: inline-block;
        margin-right: 10px;
      }
    }

    .second-button.active {
      color: #FD3838;
    }
  }
}

.my-gray {
  color: gray;
}